<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="app.js"></script>
</head>
<body>


    <script type="text/javascript">
    function InsertText(text) {
        document.getElementById("editor").innerHTML = text;
        myEditor.clickableLinks();
    }

    //DO WE WANT TOOLBAR HINTS? -- Code below --
    //$(function(){
    //    function initToolbarHints() {
    //        $('a[title]').tooltip({container:'body'});
    //        $('[data-role=magic-overlay]').each(function () {
    //            var overlay = $(this), target = $(overlay.data('target'));
    //            overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
    //        });
    //    };
    //    initToolbarHints();
    //});


    $('body').on('click', function (e) {
        $('[data-original-title]').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
    });

    $('body').on('mouseleave', function() {
        $('[data-original-title]').each(function () {
            $(this).popover('hide');
        });
    });
    </script>

    <div id="content" contenteditable="false">

        <div id="buttonbar" data-role="editor-toolbar" data-target="#editor">

            <div class="btn-group">
                <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
                <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
                <!--<a class="btn" data-edit="removeFormat" title="Remove Formatting"><i class="icon-font"></i></a>-->
                <!-- <a class="btn" data-edit="inserttext" title="voiceBtn" id="voiceBtn" x-webkit-speech=""></a> -->
                <!-- <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech=""> -->
            </div>

            <div class="btn-group">
                <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
                <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
                <!--<a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>-->
                <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
            </div>
            <!--<div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font">Font<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a data-edit="fontName" data-value="Arial" style="font-family: 'Arial'">Arial</a></li>
                <li><a data-edit="fontName" data-value="Arial Black" style="font-family: 'Arial Black'">Arial Black</a></li>
                <li><a data-edit="fontName" data-value="Courier New" style="font-family: 'Courier New'">Courier New</a></li>
                <li><a data-edit="fontName" data-value="Comic Sans MS" style="font-family: 'Comic Sans MS'">Comic Sans MS</a></li>
                <li><a data-edit="fontName" data-value="Georgia" style="font-family: 'Georgia'">Georgia</a></li>
                <li><a data-edit="fontName" data-value="Helvetica" style="font-family: 'Helvetica'">Helvetica</a></li>
                <li><a data-edit="fontName" data-value="Lucida Grande" style="font-family: 'Lucida Grande'">Lucida Grande</a></li>
                <li><a data-edit="fontName" data-value="Palatino Linotype" style="font-family: 'Palatino Linotype'">Palatino Linotype</a></li>
                <li><a data-edit="fontName" data-value="Tahoma" style="font-family: 'Tahoma'">Tahoma</a></li>
                <li><a data-edit="fontName" data-value="Times New Roman" style="font-family: 'Times New Roman'">Times New Roman</a></li>
                <li><a data-edit="fontName" data-value="Verdana" style="font-family: 'Verdana'">Verdana</a></li>
            </ul>
        </div>-->
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a data-edit="fontSize" data-value="5"><font size="5">Title</font></a></li>
                    <li><a data-edit="fontSize" data-value="4"><font size="4">Subtitle</font></a></li>
                    <li><a data-edit="fontSize" data-value="3"><font size="3">Text</font></a></li>
                    <!--<li><a data-edit="fontSize" data-value="2"><font size="2">Small</font></a></li>
                <li><a data-edit="fontSize" data-value="1"><font size="1">Tiny</font></a></li>-->
                </ul>
            </div>

            <div class="btn-group">
                <a class="btn" data-toggle="dropdown" title="Hyperlink"><i class="icon-link"></i></a> <!--dropdown-toggle was removed-->
                <div class="dropdown-menu input-append" id="linkBoxOuter">
                    <p>http://</p> <input class="span2" id="linkBox" tabindex="-1" placeholder="URL" type="text" data-edit="createLink" />
                    <!--<button class="btn" type="button">Add</button>-->

                </div>
                <!--<a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="icon-cut"></i></a>-->

            </div>

            <div class="btn-group">
                <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ul"></i></a>
                <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="icon-list-ol"></i></a>
                <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
                <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
            </div>
            <!--<div class="btn-group">
            <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
            <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
            <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
            <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
        </div>-->


        </div>


        <div class="container">
            <div id="background">
                <div id="editor"></div>
                <div id="preview"></div>
            </div>
        </div>


    </div>

</body>
</html>