<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="app.js"></script>
</head>
<body>
<script type="text/javascript" language="javascript">
    // Updates text in text node as it is added/edited in Text Editor
    function InsertText(text) {
        document.getElementById("editor").innerHTML = text;
    }

    this.addEventListener("keyup", function() {
        window.external.notify(document.getElementById("editor").innerHTML);
    });
</script>
<div id="editor"></div>
<div id="preview"></div>
</body>
</html>