<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <script type="text/javascript" language="javascript">
      
        ////TODO: if click goes to link, then open link, otherwise default select behavior

        //function InsertText(text) {
        //    document.getElementById("textbox").innerHTML = text;

        //    for (var i = 0; i < document.links.length; i++) {
        //        document.links[i].onclick = function () {
        //            //window.external.notify('LaunchLink:' + this.href);
        //            window.external.notify(this.href);
        //            return false;
        //        }
        //    }
        //}
    </script>
    <div id="textbox"></div>
</body>
</html>